.DS_Store
projects/01/And.out
.vscode/*
*.out
*/tools/
*.dat
projects/01/.vscode/settings.json
projects/01/.vscode/diff/vulsCount.txt
projects/01/Users/rakirs/Nand2Tetris/projects/01/.vscode/diff/vulsCount.txt
